.playfair-display {
  font-family: "Playfair Display", serif;
  /* font-optical-sizing: auto;
  font-style: normal; */
}

.inter {
  font-family: "Inter", sans-serif;
  /* font-optical-sizing: auto;
  font-style: normal; */
}
